/* Event Title */
.artist-page__artist-name-title {
  font-family: "Neue Plak W01 Extended SemiBold";
  margin-top: 20px;
  font-size: 30px;
}

/* Event About Details */
.artist-page__artist-name-about {
  margin-top: 10px;
  font-size: 20px;
  font-family: "Neue Plak W01 Regular";
  padding-left: 20px;
}

/* Rules Title */
.artist-page__artist-name-rules {
  margin-top: 20px;
  font-size: 30px;
  font-family: "Neue Plak W01 Extended SemiBold";
}

/* Rules Details */
.artist-page__artist-name-rulesdetails {
  margin-top: 10px;
  font-size: 20px;
  font-family: "Neue Plak W01 Regular";
}

/* Round Title */
.artist-page__artist-name-roundtitle {
  margin-top: 10px;
  font-size: 25px;
  font-family: "Neue Plak W01 Extended SemiBold";
  padding-top: 10px;
  padding-left: 20px;
}

/* Round Description */
.artist-page__artist-name-rounddetails, .artist-page__artist-name-rounddetails-underlinetext {
  margin-top: 10px;
  font-size: 20px;
  font-family: "Neue Plak W01 Regular";
  padding-left: 30px;
  text-align: justify;
}

.artist-page__underline {
  margin-top: 5px;
  height: 3px;
  width: 50px;
  background-color: #4B6464;
}

.artist-page__artist-name-rounddetails-underlinetext {
  text-decoration: underline;
  text-decoration-color: #4B6464;
}

.artist-list-grid__about-logo-adit {
  margin-top: 75px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.artist-list-grid__about-logo-cvm {
  margin-top: 25px; 
}

.menu__image-container {
  margin: 50px 20px;
  width: 300px;
}

