.spectrum2019title {
  display: flex; 
  flex-direction: row; 
  justify-content: flex-end;
  align-items: flex-start;
  width: 100vw; 
  position: absolute !important;
  /* transform: translateY(2.5vh) translateX(-5vw); */
  font-family: "Neue Plak W01 Wide ExtraBlack";
  font-size: 5vh; 
  /* background-color: #dfbc23; */
  /* background-color: #b02460; */
  /* background-color: #1babaf; */
  background: linear-gradient(to right, #dfbc23, #b02460,  #1babaf);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 10px; 
}

.slide-in-top {
	-webkit-animation: slide-in-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
	animation: slide-in-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
}

.slide-in-bottom {
	-webkit-animation: slide-in-bottom 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
	animation: slide-in-bottom 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
}


@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(0vh) translateX(-5vw);
            transform: translateY(0vh) translateX(-5vw);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(2.5vh) translateX(-5vw);
            transform: translateY(2.5vh) translateX(-5vw);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(0vh) translateX(-5vw);
            transform: translateY(0vh) translateX(-5vw);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(2.5vh) translateX(-5vw);
            transform: translateY(2.5vh) translateX(-5vw);
opacity: 1;
  }
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-3vh);
            transform: translateY(-3vh);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-3vh);
    transform: translateY(-3vh);
opacity: 1;
  }
}

.adit2019title {
  display: none; 
}

/* Event Title */
.artist-page__artist-name-title {
  font-family: "Neue Plak W01 Extended SemiBold";
  margin-top: 20px;
  font-size: 30px;
}

/* Event About Details */
.artist-page__artist-name-about {
  margin-top: 10px;
  font-size: 20px;
  font-family: "Neue Plak W01 Regular";
  padding-left: 20px;
}

/* Rules Title */
.artist-page__artist-name-rules {
  margin-top: 20px;
  font-size: 30px;
  font-family: "Neue Plak W01 Extended SemiBold";
}

/* Rules Details */
.artist-page__artist-name-rulesdetails {
  margin-top: 10px;
  font-size: 20px;
  font-family: "Neue Plak W01 Regular";
}

/* Round Title */
.artist-page__artist-name-roundtitle {
  margin-top: 10px;
  font-size: 25px;
  font-family: "Neue Plak W01 Extended SemiBold";
  padding-top: 10px;
  padding-left: 20px;
}

/* Round Description */
.artist-page__artist-name-rounddetails, .artist-page__artist-name-rounddetails-underlinetext {
  margin-top: 10px;
  font-size: 20px;
  font-family: "Neue Plak W01 Regular";
  padding-left: 30px;
  text-align: justify;
}

.artist-page__underline {
  margin-top: 5px;
  height: 3px;
  width: 50px;
  background-color: #4B6464;
}

.artist-page__artist-name-rounddetails-underlinetext {
  text-decoration: underline;
  text-decoration-color: #4B6464;
}

.artist-list-grid__about-logo-adit {
  margin-top: 75px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.artist-list-grid__about-logo-cvm {
  margin-top: 25px; 
}

.menu__image-container {
  margin: 50px 20px;
  width: 300px;
}

.nodisplay{ 
  display: none !important;
}

.home-list__button-container {
  margin-top: 4vh !important;
}

.home-button__text, .home-button__overlay { 
  font-size: 10vh !important; 
  line-height: .6em !important;
}

@media screen and (max-width: 640px){
  @-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(0vh);
              transform: translateY(0vh);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(4.5vh);
              transform: translateY(4.5vh);
      opacity: 1;
    }
  }
  
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(0vh);
              transform: translateY(0vh);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(4.5vh);
              transform: translateY(4.5vh);
  opacity: 1;
    }
  }

  .adit2019title {
    display: flex; 
    position: absolute;
    flex-direction: column; 
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: flex-end;
    font-family: "Neue Plak W01 Wide Bold";
    font-size: 2.5vh;
    padding-bottom: 5vh;
  }
  .spectrum2019title {
    transform: translateY(4.5vh) translateX(0vw);
    justify-content: center;
    font-size: 2.5vh; 
  }
  #spectrumlogo {
    margin-top: 2vh !important; 
  }
  .home-list {
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
  }
  .home-list__label {
    display: none;
  }
  .home-list__button-container {
    margin-top: 20vh !important; 
    margin-left: 39vw !important; 
    display: flex !important; 
    flex-direction: column !important; 
    align-items: center !important;
  }
  .home-button__text, .home-button__overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    font-size: 4vh !important; 
    line-height: 5vh !important;
  }
}

/* @media only screen and (min-width: 1280px) {
  .home-button__text {
    font-size: 3vh !important; 
    line-height: 5vh !important;
  } 
} */


/* @media only screen and (min-width: 320px) {
  .home-list__label {
    visibility: hidden ;
    transform: rotate(0deg) ;
  }
  .home-list__label:after{
    visibility: visible;
    display: flex;
    content: 'A.D. Patel Institute Of Technology, \A Karamsad';
    transform: rotate(0deg);
    white-space: pre-wrap !important;
    text-align: center !important;
    margin-top: 5vh !important; 
    font-size: 1.5vh; 
  } 
  .home-list__button-container {
    margin-top: 20vh !important; 
    margin-left: 39vw !important; 
    display: flex !important; 
    flex-direction: column !important; 
    align-items: center !important;
  }
  .home-button__text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    font-size: 4vh !important; 
    line-height: 5vh !important;
  }
} */

/* @media only screen and (max-width: 375px) {
  .home-list__label {
    visibility: hidden ;
    transform: rotate(0deg) ;
  }
  .home-list__label:after{
    visibility: visible;
    display: flex;
    content: 'A.D. Patel Institute Of Technology, \A Karamsad';
    transform: rotate(0deg);
    white-space: pre-wrap !important;
    text-align: center !important;
    margin-top: 5vh !important; 
    font-size: 2vh; 
  } 
  .home-list__button-container {
    margin-top: 20vh !important; 
    margin-left: 39vw !important; 
    display: flex !important; 
    flex-direction: column !important; 
    align-items: center !important;
  }
  .home-button__text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    font-size: 5vh !important; 
    line-height: 5vh !important;
  }
} */


/* @media only screen and (max-width: 425px) {
  .home-list__label {
    visibility: hidden ;
    transform: rotate(0deg) ;
  }
  .home-list__label:after{
    visibility: visible;
    display: flex;
    content: 'A.D. Patel Institute Of Technology, \A Karamsad';
    transform: translateX(-3vw) rotate(0deg);
    white-space: pre-wrap !important;
    text-align: center !important;
    margin-top: 5vh !important; 
    font-size: 2.5vh; 
  } 
  .home-list__button-container {
    margin-top: 20vh !important; 
    margin-left: 39vw !important; 
    display: flex !important; 
    flex-direction: column !important; 
    align-items: center !important;
  }
  .home-button__text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    font-size: 5.5vh !important; 
    line-height: 5vh !important;
  }
} */

/*

@media only screen and (max-width: 768px) {
  .home-list__label {
    font-size: 2vh !important;
  }
  .home-list__label:after{
    
  } 
  .home-list__button-container {
    margin-top: 20vh !important; 
    margin-left: -5vh !important; 
  }
  .home-button__text {
    font-size: 5vh !important; 
    line-height: 5vh !important;
  }
} */

/* @media only screen and (max-width: 1024px) {
  .home-list__button-container {
    margin-top: 10vh !important; 
    margin-left: -5vh !important;
  }
  .home-button__text {
    font-size: 8vh !important; 
    line-height: 6vh !important;
  }
} 

 @media only screen and (max-width: 1600px) { 
  .home-list__button-container {
    margin-top: 10vh !important; 
    margin-left: -5vh !important;
  }
  .home-button__text {
    font-size: 10vh !important; 
    line-height: 5vh !important;
  }
  .home-button__overlay {
    font-size: 10vh !important;
    line-height: 5vh !important;
  }
}